@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --primary-color: #4BD62F;
    --secundary-color: #FFF;
    --tertiary-color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Righteous", sans-serif;
    width: 100vw;
    height: 100vh;
}

body video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover;
    filter: brightness(75%);
}

.fundo_about {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover;
}

header {
    gap: 20px;
    height:15%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo_pokemon {
    width: 261px;
    height: 96px;
}

.secao_cabecalho {
    gap: 30px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    font-size: 3.2rem;
}

.estilo_opcao {
    text-decoration: none;
    color:  var(--secundary-color);
    display: flex;
    align-items: center;
    gap: 11px;
}

.pokebola {
    width: 2.8rem;
    height: 2.8rem;
}

main {
    height: 70%;
    
}

.container_apresentacao {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
}

.apresentacao {
    gap: 20px;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao {
    color: var(--primary-color);
    width: 58.2rem;
    height: auto;
    font-weight: 600;
    font-size: 4.8rem;
    -webkit-text-stroke-color: var(--tertiary-color);
    -webkit-text-stroke-width: 0.px;
}

.apresentacao p{
    color: var(--secundary-color);
    font-size: 3.2rem;
    font-weight: 400;
    width: 58.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 56.6rem;
    gap: 20px;
}

footer {
    height: 15%;
    background-color: #0008;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
@media (max-width: 1026px){

    .logo_pokemon {
        width: 200px;
        height: 75px;
    }

    .container_apresentacao {
        flex-direction: column-reverse;
    }

    .introducao span {
        font-size: 4rem;
    }
    
    .introducao {
        font-size: 4rem;
        height: auto;
    }

    .apresentacao {
        gap: 15px;
    }

    .apresentacao p{
        font-size: 2rem
    }

    .foto_portfolio {
        max-width: 25%;
        max-height: 25%;
    }

    .icons {
        width: 4rem;
        height: auto;
    }

}

@media (max-width: 600px) {

    .secao_cabecalho {
        font-size: 1.6rem;
    }
    
    header {
        font-size: 1.6rem;
    }

    .logo_pokemon {
        width: 120px;
        height: 45px;
    }

    .pokebola {
        width: 13px;
        height: 13px;
    }

    .introducao span {
        font-size: 2.4rem;
    }

    .introducao {
        font-size: 2.4rem;
        width: 87%;
        height: auto;
    }

    .apresentacao {
        width: 100%;
        gap: 15px;
    }

    .apresentacao p {
        font-size: 1.5rem;
        width: 85%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .buttons button {
        width: 180px;
        height: 50px;
        font-size: 2rem;
    }

    .icons {
        width: auto;
        height: 3rem;
    }
}